sudo: required
services:
  - docker

before_install:
  - docker build -t pankaj/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run pankaj/react-test npm test -- --coverage

after_success:
  - docker build -t pankaj957/multi-client ./client
  - docker build -t pankaj957/multi-nginx ./nginx
  - docker build -t pankaj957/multi-server ./server
  - docker build -t pankaj957/multi-worker ./worker
  # Log in to the Docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub bc
  - docker push pankaj957/multi-client
  - docker push pankaj957/multi-nginx
  - docker push pankaj957/multi-server
  - docker push pankaj957/multi-worker